.container2 {

    height: 100px;
    
    position: relative;
    
    background: linear-gradient(60deg , var(--bg-main) 60% , var (--bg-main-2) 60% ) ;
    
    }
    
    .container2 >  h1 {
    
        font-size: 165px;
    
        color : rgba(27 , 30 , 38 , 0.17);
    
        top : 10%;
    
        left : 20%;
    
        position : absolute;
    
    }
    
    .navi{
    
    height: 70%;
    
    width: 100%;
    
    background: #efefef;
    
    padding: 30px;
    
    display: flex;
    
    
    }
    
    ion-icon {
    
    color: #efefef;
    
    font-size: 24px;
    
    justify-content: space-between;
    
    align-items: center;
    }
    
    .lefty {
    
    display:flex;
    
    align-items: center ;
    
    }
    
    .lefty > .logoBr {
    
    width: 50px;
    
    height: auto;
    
    }
    
    .lefty > .logoBr > img {
    
    width: 100%;
    
    height: 100px;
    
    }
    
   







































.sectionDebitos{

    display:flex ;
    justify-content: space-between;
    margin: 20px;


}

.debitos {

    width: 45%;

    background-color:lightgreen;
    
    padding: 20px;
    
    border:1px solid #ccc;
    
    border-radius: 10%;
    
    font-style: italic;
    
    color: darkgreen;
    
    text-align:justify ;

}

.botãoDebito {

    width: 5%;

    background-color:lightgreen;
    
    padding: 20px;
    
    border:1px solid #ccc;
    
    border-radius: 10%;
    
    font-style: italic;
    
    color: darkgreen;
    
    text-align: center;

}

.nossoGrupo {
    width: 45%;

    background-color:lightgreen;
    
    padding: 20px;
    
    border:1px solid #ccc;
    
    border-radius: 10%;
    
    font-style: italic;
    
    color: darkgreen;
    
    text-align:justify ;



}